<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="overlay"></div>
        <nav id="side-menu" class="side-menu">
            <a href="#" class="menu-trigger"><span></span></a>
            <ul>
                <li><a id="home" href="/" class="item">Home</a></li>
                <li><a href="/s/about" id="about" class="item">About</a></li>
                <li><a href="/s/music" id="music" class="item">Music</a></li>
                <li><a href="/s/writing" id="writing" class="item">Writing</a></li>
            </ul>
        </nav>
        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer">
            <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
                 <section class="copyright">Words by Dan Robertson, Artwork by <a href="http://grumpyartpalace.tumblr.com/">Sam LoPiccolo</a></section>
                 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
            </div>
        </footer>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>
